{% load static %}
<link rel="stylesheet" href="{% static 'navbar.css' %}"/>
<div id="navbar">
    <div id="nav-left">
        <span><a class="nav-link" href="{% url 'index' %}">CSDS 344/444 Encrypter:</a></span>
    </div>
    <div id="nav-item-container">
        <div class="nav-item">
            <span><a class="nav-link" href="{% url 'tutorials' %}">Tutorials</a></span>
        </div>
        <div class="nav-item">
            <span><a class="nav-link" href="{% url 'tools' %}">Tools</a></span> 
        </div>
    </div>
</div>