@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

body {
    
}

form{
    display: flex;
    flex-direction: column;
}

label{
    text-align: center;
}

form > * {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.flex-distribute{
    justify-content: space-evenly;
}

.form-check{
    display: flex;
    align-items: center;
}

textarea{
    resize: vertical;
    height: 200px;
}

#file-upload{
    display: hidden;
}

.enc-option{
    margin: 30px;
    padding: 15px;
    border-radius: 10px;
    display: block;
    text-decoration: inherit;
    color: inherit;
}

.enc-option:hover{
    background: #fafafa;
}

.enc-option-text{
    display: block;
    margin-top: 10px;
    text-align: center;
    font-size: xx-large;
}

.enc-icon{
    width: 200px;
    height: 200px;
    background-color: #eee;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enc-icon span{
    font-size: 150px;
    color: #444;
}

#enc-option-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

@media screen and (max-width: 500px){
    #enc-option-container{
        flex-direction: column;
        align-items: center;
    }

    .form-check{
        flex-direction: column;
        align-items: center;
    }
}