@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

body {
}

form{
    display: flex;
    flex-direction: column;
}

label{
    text-align: center;
}

form > * {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.flex-distribute{
    justify-content: space-evenly;
}

.form-check{
    display: flex;
    align-items: center;
}

textarea{
    resize: vertical;
    height: 200px;
}

.enc-option{
    margin: 30px;
    padding: 15px;
    border-radius: 10px;
    text-decoration: inherit;
    color: inherit;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    transition:.3s;
}

.enc-option:hover{
    background: #fafafa;
}

.enc-option-text{
    display: block;
    margin-top: 10px;
    text-align: center;
    font-size: xx-large;
}

.enc-icon{
    width: 200px;
    height: 200px;
    background-color: #eee;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enc-icon span{
    font-size: 150px;
    color: #444;
}

#enc-option-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

/* SLIDERS */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px; /*60*/
    height: 20px; /*34*/
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #222;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #222;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 40px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.switch-text{
    margin:0px 10px;
}
/* END SLIDER */

@media screen and (max-width: 500px){
    #enc-option-container{
        flex-direction: column;
        align-items: center;
    }

    .form-check{
        flex-direction: column;
        align-items: center;
    }
}