<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'cryptography/style.css' %}"/>
        <link rel="stylesheet" href="{% static 'global-styles.css' %}"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
        <script>
            function updateName(element){
                document.getElementById("file-name").innerText = element.files[0].name;
            }
        </script>
    </head>
    <body>
        {% include "navbar.html"%}
        <main>
            <h1>File Encoding!</h1>
            <form action="result/" method="post" enctype="multipart/form-data">
                {% include "algo_form.html" %}
                {% csrf_token %}
                <!-- {{form}} -->
                <div>
                    <label for="file-upload"class="enc-option">
                        <div class="enc-icon">
                            <span class="material-icons-round">
                                file_upload
                            </span>
                        </div>
                        <span id="file-name" class="enc-option-text">Upload:</span>
                    </label>
                    <input class="enc-option-text" id="file-upload" type="file" name="plain_file" onchange="updateName(this)" hidden/>
                </div>
                <div>
                    <button type="submit">Encrypt!</button>
                </div>
                <input type="hidden" id="formType" name="formType" value="file"/>
            </form>
        </main>
    </body>
</html>