<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="shortcut icon" href="#">
        <link rel="stylesheet" href="{% static 'global-styles.css' %}"/>
        <link rel="stylesheet" href="{% static 'cryptography/style.css' %}"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    </head>
    <body>
        <main>
            <h1>Cryptography Options:</h1>
            <div id="enc-option-container">
                <a href="{% url 'tutorials' %}" class="enc-option">
                    <div class="enc-icon">
                        <span class="material-icons-round">
                            info
                        </span>
                    </div>
                    <span class="enc-option-text">Tutorials</span>
                </a>
                <a href="{% url 'tools' %}" class="enc-option">
                    <div class="enc-icon">
                        <span class="material-icons-round">
                            build
                        </span>
                    </div>
                    <span class="enc-option-text">Tools</span>
                </a>
            </div>
        </main>
    </body>
</html>