<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'cryptography/style.css' %}"/>
        <link rel="stylesheet" href="{% static 'global-styles.css' %}"/>
    </head>
    <body>
        {% include "navbar.html"%}
        <main>
            <h1>Text Encoding:</h1>
            <!-- <form action="/text" onchange="console.warn('hi')">
                {{encrypt_form}}
                {{text_form}}
            </form> -->
            <form action="result/" method="post">
                {% csrf_token %}
                {% include "algo_form.html" %}
                <textarea name="plaintext"></textarea>
                <div>
                    <button type="submit">Encrypt!</button>
                </div>
                <input type="hidden" id="formType" name="formType" value="text"/>
            </form>
            
        </main>
    </body>
</html>