<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'cryptography/style.css' %}"/>
        <link rel="stylesheet" href="{% static 'global-styles.css' %}"/>
    </head>
    <body>
        {% include "navbar.html"%}
        <main>
            <h1>Text Encoding:</h1>
            <!-- <form action="/text" onchange="console.warn('hi')">
                {{encrypt_form}}
                {{text_form}}
            </form> -->
            <form method="post">
                {% csrf_token %}
                <div>
                    <label for="algo">Select the desired encryption method:&nbsp;</label>
                    <select id="algo" name="algo">
                        <option value="sha256">SHA256</option>
                        <option value="sha512">SHA512</option>
                        <option value="aes">AES</option>
                        <option value="ERC">ERC</option>
                    </select>
                </div>
                <div class="flex-distribute">
                    <div class="form-check">
                        <label for="id_show_step">Show step:</label>
                        <input type="checkbox" name="show_step" required="" id="id_show_step">    
                    </div>
                    <div class="form-check">
                        <label for="id_show_step_description">Show step description:</label>
                        <input type="checkbox" name="show_step_description" required="" id="id_show_step_description"/>    
                    </div>
                    <div class="form-check">
                        <label for="id_pause_on_step">Pause on step:</label>
                        <input type="checkbox" name="pause_on_step" required="" id="id_pause_on_step"/>
                    </div>
                </div>
                <textarea name="plaintext"></textarea>
                <div>
                    <button type="submit">Encrypt!</button>
                </div>
            </form>
            
        </main>
    </body>
</html>